<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.visage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Visage">
        <activity
            android:name=".Merchant.BottomNavigationMerchant"
            android:exported="false" />
        <activity
            android:name=".Merchant.Add_Service"
            android:exported="false" />
        <activity
            android:name=".Customer.SearchView_Activity"
            android:exported="false" />
        <activity
            android:name=".Merchant.Merchant_Registration"
            android:exported="false" />
        <activity
            android:name=".Merchant.Merchant_Introductory"
            android:exported="false" />
        <activity
            android:name=".customer_page"
            android:exported="false" />
        <activity
            android:name=".Profile_Activity"
            android:exported="false" />
        <activity
            android:name=".Map_Activity"
            android:exported="false" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Customer.Registration_Activity" />
        <activity android:name=".Customer.Login_Activity" />
        <activity android:name=".Customer.BottomNavigationCustomer" />
        <activity
            android:name=".Customer.Introductory_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>